.btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 40%;
   margin-bottom: 30px;
   
   cursor: pointer;
}

.btn:hover {
    background-color: #333;
}

@media (max-width: 810px) {
    .btn{
        width: 50%;
    }
  
  }