.container {

  background-color: rgb(191, 198, 198);
  display: flex;
  flex-direction: column;
  padding: 0px;

  margin-left: -7.9px;
  margin-right: -7.9px;
  position: relative;
  left: 0px;
  align-items: center;


}

.conteudo {
  background-color: rgb(191, 198, 198);
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;


}

.precoDescricao {
  display: flex;
  flex-direction: column;
}

.img {
  height: 200px;
  width: 200px;
}

.name {
  font-size: 50px;
}

.imagemTexto {
  display: flex;
  gap: 5%;
  padding-top: 50px;
  margin-bottom: 50px;
}

.descricao {
  font-size: 30px;
}

.preco {
  font-size: xx-large;
  font-weight: bolder;
}

.cartButton {
  position: fixed;
  bottom: 90px; /* Distância do botão até o fundo da página */
  right: 70px; /* Distância do botão até a direita da página */
  width: 80px; /* Largura do botão */
  height: 80px; /* Altura do botão */
  background-color: #535659; /* Cor de fundo do botão (pode ser ajustada) */
  border-radius: 30%; /* Bordas arredondadas para criar um botão redondo */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999; /* Garante que o botão fique sempre acima de outros elementos */
}

@media (max-width: 810px) {
  .imagemTexto {
    flex-direction: column;
    align-items: center;
  }

  .descricao {
    font-size: 20px;
  }

  .name {
    font-size: 40px;
  }

  .cartButton {
    bottom: 40px; /* Distância do botão até o fundo da página */
    right: 40px; /* Distância do botão até a direita da página */
  }

}